{% extends 'blog/base.html' %}
{% block content %} 

<div class = "card">
    <h2>Mobile</h2>
    <p>07504230231<p>
    </div>
    <div class = "card">
        <h2>Personal Email</h2>
    <p>benharrison05@hotmail.co.uk<p>

    </div>
    <div class = "card">
<h2>University Email</h2>
        <p>bdh996@student.bham.ac.uk<p>
</div>
<div class = "card">
            <h2>LinkedIn</h2>
      <p>  <a href=https://www.linkedin.com/in/ben-harrison-1b8a5b193>https://www.linkedin.com/in/ben-harrison-1b8a5b193</a></p></div>
</div>


{% endblock %}
