{% extends 'blog/base.html' %}
{% block content %} 

<div class = "card">
    <h2>Mobile</h2>
    <p><a style="color:#ffffff" href = tel: 07504230231 >07504230231</a><p>
    </div>
    <div class = "card">
        <h2>Personal Email</h2>
    <p><a href = "mailto: benharrison05@hotmail.co.uk" style="color:#ffffff">benharrison05@hotmail.co.uk</a><p>

    </div>
    <div class = "card">
<h2>University Email</h2>
        <p><a href = "mailto: bdh996@student.bham.ac.uk" style="color:#ffffff"> bdh996@student.bham.ac.uk </a><p>
</div>
<div class = "card">
            <h2>LinkedIn</h2>
      <p>  <a href=https://www.linkedin.com/in/ben-harrison-1b8a5b193 style="color:#ffffff"> https://www.linkedin.com/in/ben-harrison-1b8a5b193</a></p></div>
</div>


{% endblock %}
