{% extends 'blog/base.html' %}
{% load static %}
 {% block content %} 
 <body class = "homepage">

    <div></div>
    
  <div class = "card" >
      <h2>Welcome to the site.</h2>
      <br>
    <p>At the top, you'll see a navigation bar which will direct you to each respective page. Click <a style="color:#ffffff" href="/post_list">blog</a>
    to see the Bridging Coursework essential posts.</p>

    <p>This site has also been optimised for mobile use as well as on a traditional broswer. Please check that out.</p>
</div>

  <div class = "card"  ><h2>More content filling this block soon.</h2><br>
    <p>Hello World!</p></div>


    <div class = "card"  ><h2>More content filling this block soon.</h2><br>
        <p>Hello World!</p>
    
        
          </div>

         

</div></body>
{% endblock %}