{% extends 'blog/base.html' %}
{% load static %}
 {% block content %} 
 <body style = "background-image: url('../../static/assets/images/floridaWide1.jpg');
    background-size: cover; "></body>
<div class="homepage">
  <div class = "card" style = "width:45%; position: static;"><h2>Content coming soon.</h2><p>Hello World</p><p>Hello World</p><p>Hello World</p><p>Hello World</p><p>Hello World</p><p>Hello World</p></div>
  <div class = "card"  style = "width:45%; position: static;"><h2>Content coming soon.</h2><p>Hello World</p></div>
</div>
{% endblock %}