{% extends 'blog/base.html' %}
{% block content %} 

<div class = "card">
    <br>
<p> Throughout the year, in some modules where I found wider reading to be most useful, I have collated some links which I found to be the most
    useful. Please use them and feel free to add your own links as this is a public copy of the document. If you don't have access, send me an <a href="mailto: bdh996@student.bham.ac.uk"> email </a> and I'll try to sort it.</a></p>
</div>

<div class = "card">
<h2> <b>Year One</b></h2>

    <h2>Mathematical Foundations of Computer Science</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/Ea9f8xX3OlFGhANsOYw8RTIBy2FBBaaftoxUgI_mTecOMw?e=WqmPup">Useful Links Document</a></p>

    <h2>Data Structures and Algorithms</h2>
    <p><a href="https://bham-my.sharepoint.com/:f:/g/personal/bdh996_student_bham_ac_uk/ElyTWDoDWFZMmUrGpLTScDcBtoBkTJjssjgOKUvJt2bISQ?e=k0SiMK">Useful Links Document</a></p>

    <h2>Introduction To Financial Analysis</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/ESquYhboFu9IoBa55mEMLeIBzuMUVylTA0kBb2f4bjq3KQ?e=MFiTaH">Useful Links Document</a></p>

    <h2>Programming in Java</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/EbPFYMUY3NtMi8a-rQprFjABFUefSszWEcx_Uu8u-4yPzQ?e=g6RsoV">Useful Links Document</a></p>

    <h2>Business Organisation and Management</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/Ef5ITVwqWaxCs2EwjvMIk2wBTbxOX3zua1j4v4fso58XZg?e=qg54Ir">Useful Links Document</a></p>

    <h2>Artificial Intelligence</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/ER36lgHR5kNAjBCw7MQyiiQB6rw_BQDbawCkSwve-jH_eg?e=EV6AO9">Useful Links Document</a></p>

    <h2>Logic and Computation</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/EYdB8W4UOwZDkkzsUHnTRNIBLEpfRw790SXVm-PxcEyaiA?e=R3G800">Useful Links Document</a></p>

    

</div>

<div class = "card">
    <h2> <b>Year Two</b></h2>
<p> Coming soon.</p>
</div>

<div class = "card">
    <h2> <b>Year Three</b></h2>
<p> Coming soon.</p>
</div>

<div class = "card">
    <h2> <b>Other</b></h2>
<p> Coming soon.</p>
</div>

<div class = "card">
    <br>
<p> Please note: I keep a log of the version history, so don't add anything stupid.</p>
</div>
{% endblock %}