{% extends 'blog/base.html' %}
{% block content %} 

<div class = "card">
    <br>
<p> Throughout the year, in some modules where I found wider reading to be most useful, I have collated some links which I found to be the most
    useful. Please use them and feel free to add your own. If you don't have access, send me an <a href="mailto: bdh996@student.bham.ac.uk"> email </a> and I'll try to sort it.</a></p>
</div>

<div class = "card">
<h2> <b>Year One</b></h2>

    <h2>Mathematical Foundations of Computer Science</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/Ea9f8xX3OlFGhANsOYw8RTIBy2FBBaaftoxUgI_mTecOMw?e=WqmPup">Feel free to add your own links.</a></p>



    <h2>Introduction To Financial Analysis</h2>
    <p><a href="https://bham-my.sharepoint.com/:w:/g/personal/bdh996_student_bham_ac_uk/ESquYhboFu9IoBa55mEMLeIBzuMUVylTA0kBb2f4bjq3KQ?e=MFiTaH">Feel free to add your own links.</a></p>
</div>

<div class = "card">
    <h2> <b>Year Two</b></h2>
<p> Coming soon.</p>
</div>

<div class = "card">
    <h2> <b>Year Three</b></h2>
<p> Coming soon.</p>
</div>

<div class = "card">
    <h2> <b>Other</b></h2>
<p> Coming soon.</p>
</div>

<div class = "card">
    <br>
<p> Please note: I keep a log of the version history, so don't add anything stupid.</p>
</div>
{% endblock %}